body{
    text-align: center;
}

.square{
    height: 10em;
    position: relative;
    width: 10em;
}

button{
    position: absolute;
    align-items: center;
}

#beginGame{
    position: relative;
    height: 3em;
    width: 7em;
}

#displayCurrentPlayer{
    position: absolute;
    left: 2em;
    max-width: 15%;
}

